[[template "maindochdr" .]]

[[template "navbar" .]]

  <br><br><br>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Vechicles Admin Panel</div>
      	<div class="panel-body" ng-controller="VehicleCtrlr" ng-init="count=1">
      		<p><button class="btn btn-default" ng-click="add($event)">add</button></p>
      		<input type="hidden" value="[[.KeyIdString]]" text="[[.KeyIdString]]" ng-model="keyIdString" ng-attr-id="keyIdString" ng-init="keyIdString='[[.KeyIdString]]'">
            <table class="table" >
               <thead>
                  <tr>
                    <th>Heading</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in list" ng-init="count=count+1">
                    <td contenteditable="false">
                      <div ng-model="item.id" id="{{ item.id }}">
                      	<p>Manufacturer: {{ item.ManufacturerCode }}</p>
                      	<p>Model: {{ item.ModelCode }}</p>
                      	<p>Trim: {{ item.TrimCode }}</p>
                      </div>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="edit(item)">edit</button>
                        <button ng-attr-id="{{ item.id }}" class="btn btn-default" ng-click="delete(item)">delete</button>
                    </td>
                  </tr>
                </tbody>
            </table>


      	</div>
    </div>  
  </div>




[[template "maindocftr" .]]