[[template "maindochdr" .]]

[[template "navbar" .]]

  <br><br><br>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Carousel Panel</div>
        <div class="panel-body">
            <p><button class="btn btn-default">add</button></p>
            <p></p>
            <table class="table" ng-controller="CarouselCtrlr" ng-init="count=1">
               <thead>
                  <tr>
                    
                    <th>Heading</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in list.items">
                    
                    <td contenteditable="false">
                      <div ng-model="item.id" id="{{ item.id }}">
                        <div ng-attr-id="{{item.id + 'heading'}}" contenteditable="true" ng-model="item.heading">{{ item.heading }}</div>
                        <br>
                        <div ng-attr-id="{{item.id + 'description'}}" contenteditable="true" ng-model="item.description">{{ item.description }}</div>
                        <div contenteditable="false">
                          <img ng-attr-id="{{item.id + 'image'}}" src="{{ item.image }}" ng-model="item.image">
                        </div>
                      </div>
                    </td>
                    <td>
                        <button class="btn btn-default">save</button>
                        <br><br><br>
                        <button ng-attr-id="{{ item.id }}" class="btn btn-default" ng-click="delete($event)">delete</button>
                        <br><br><br>
                        <button ng-attr-id="{{ item.id }}" class="btn btn-default" ng-click="upload($event)">upload</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>  
  </div>




[[template "maindocftr" .]]